---
BasedOnStyle: Chromium
AccessModifierOffset: '-2'
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
ColumnLimit: '120'
IncludeBlocks: Preserve
IndentWidth: '4'
Language: Cpp
MaxEmptyLinesToKeep: '1'
PointerAlignment: Left
SpaceBeforeParens: Never
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Cpp11
TabWidth: '4'
UseTab: ForIndentation

...
