# Basic parameters of the build
sudo: required
dist: xenial
group: edge
language: cpp
compiler: gcc

# Blacklist - make sure we don't try to build gh-pages branch
branches:
  except:
    - gh-pages

# Environment variables
env:
  global:
    - GH_REPO_NAME: possumwood
    - DOXYFILE: $TRAVIS_BUILD_DIR/Doxyfile
    - GH_REPO_REF: github.com/martin-pr/possumwood.git
    - COMPILER: g++-5

# Install dependencies
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - sourceline: 'ppa:martin-prazak/cgi-daily'
    packages:
      - libboost-all-dev
      - doxygen
      - doxygen-doc
      - doxygen-latex
      - doxygen-gui
      - graphviz
      - gcc-5
      - g++-5
      - freeglut3-dev
      - libxmu-dev
      - libxi-dev
      - cmake
      - libglew-dev
      - libmpfr-dev
      - libglfw3-dev
      - qt5-default
      - qtdeclarative5-dev
      - libqt5opengl5-dev
      - libluabind-dev
      - libtbb-dev
      - libopencv-daily
      - libcgal-daily
      - libopenimageio-daily
      - libjsoncpp-dev

# Run build
script:
  - export CXX=g++-5
  - export CC=gcc-5
  - cd $TRAVIS_BUILD_DIR
  - ./tools/build-debug -j 4
  - ./tools/run-tests

# Generate and deploy documentation
after_success:
  - cd $TRAVIS_BUILD_DIR
  - ./tools/build-docs
